.app {
    min-height: 100vh;
    display: flex;
}

.main {
    margin-left: 250px;
    width: calc(100% - 250px);
    min-height: 100vh;
}

.content {
    padding: 30px;
}

.mt-1{
    margin-top: 5px;
}

/* =========================
   MOBILE
========================= */

@media (max-width: 800px) {
    .main {
        margin-left: 70px;
        width: calc(100% - 70px);
    }

    .content {
        padding: 20px;
    }
}